.carousel {
    margin: 0 auto;
    animation-name: carouselAnim;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    position: relative;
    width: 80%;
    height: 40rem;
    
    }
    
    @keyframes carouselAnim {
    0% { background-image: url("../imagens/argentina2.jpg");  
        background-repeat: no-repeat;
        background-size:cover;} 
    33% { background-image: url("../imagens/argentina2.jpg");  
        background-repeat: no-repeat;
        background-size:cover; } 
    66% { background-image: url("../imagens/argentina3.jpg");  
        background-repeat: no-repeat;
        background-size:cover;}
    100% { background-image: url("../imagens/argentina1.png");  
        background-repeat: no-repeat;
        background-size:cover;} 
    }