img {
    width: 200px;
    margin-top: 15%;
    margin-left: 10%;
    animation-name: starAnimation;
    animation-duration: 10s; 
    animation-iteration-count: 2;
    position: relative;
    animation: starAnimation 5s ease 0s 1 normal forwards;
}

@keyframes starAnimation {
    0% {top: 10rem;} 
    25% {top: 5rem;} 
    50% {top: -5rem;} 
    75% {top: -10rem;} 
    100% {top: -13rem;}
}