#frase1 {
    width: 400px;
    display: inline-block;
}

#frase2 {
    width: 400px;
    display: inline-block;
}

#frase3 {
    width: 400px;
    display: inline-block;
}

#q1 {
    font-size: 30px;
}


