#figurinhas {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    
}

.card {
    display: inline-block;
    width: 250px;
    height: 40rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  /* garante o relevo */
   /* transition: 0.8s; */
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: #f2f2f2;
  border-radius: 2rem 2rem 0 0;
}

.card img {
    width: 100%;
    height: 30rem;
    border-radius: 2rem 2rem 0 0;
    
}

#conteudo {
    height: 10rem;
    margin-left: 1rem;
   /* word-break: break-all; */
}
